*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("https://images.pexels.com/photos/2156416/pexels-photo-2156416.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    opacity: 1;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    animation: example 60s linear infinite;
    transition: all 5s linear;
    /* transition: opacity 1s linear; */
}

div{
    background: rgba(205, 209, 208,0.1);
    width: 500px;
    min-height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    color: white;
    padding: 40px;
    /* opacity: 0.9;   */
}


button{
    background: #6da698 ;
    color:white;
    padding:10px;
    border-radius: 10px;
    border: none;
    text-transform: capitalize;
    
}

button:hover{
    opacity:0.8;
    box-shadow: 1px 1px 30px rgba(205, 209, 208,0.1), 1px 1px 30px white;
    text-transform: uppercase;
}

p{
    margin: 30px 0;
}


h1{
    font-size: 4rem;
}


@keyframes example {
    10%   {background: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("https://images.pexels.com/photos/1212984/pexels-photo-1212984.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");}
    20%   {background: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("https://images.pexels.com/photos/573238/pexels-photo-573238.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");}
    30%   {background: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("https://images.pexels.com/photos/834863/pexels-photo-834863.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");}
    40%   {background: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("https://images.pexels.com/photos/6147410/pexels-photo-6147410.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");}
    50%   {background: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("https://images.pexels.com/photos/5727740/pexels-photo-5727740.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");}
    70%   {background: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("https://images.pexels.com/photos/4148842/pexels-photo-4148842.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");}
    80%   {background: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("https://images.pexels.com/photos/1975989/pexels-photo-1975989.jpeg?auto=compress&cs=tinysrgb&w=600");}
    90%   {background: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("https://images.pexels.com/photos/6836415/pexels-photo-6836415.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");}
    100%  {background: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("https://images.pexels.com/photos/5733432/pexels-photo-5733432.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");}   
  }


  @media only screen and (max-width: 768px) {
    div{
        width:80%;
        height: auto;
    }
  }
